<nav class="navbar navbar-expand-md navbar-light  bg-light main-nav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-1">
            <ul class="nav navbar-nav w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOMEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MULHER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">KIDS</a>
                </li>
            </ul>
        </div>
        <div class="order-first order-md-0 d-flex justify-content-center">
            <a class="navbar-brand mx-0" href="#"><%= image_tag(@store.logo_url(:thumb).to_s) %></a>
        </div>
        <div class="collapse navbar-collapse flex-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CARRINHO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>