  <div class="container">
    <section class="section products">  
        <div class="row align-items-start products-list" >
          <%= render @products %>   
        </div>  
    </section>
  </div>